/* select all elements, including before elements, and after elements */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
    /* playing with css background options */
    /* background: linear-gradient(to right, #c9cbff, #eff8ff); */
    /* background-image: linear-gradient(#c9cbff, white, #c9cbff); */
    /* background-image: repeating-linear-gradient(#c9cbff, #eff8ff 10%, #c9cbff 20%) */
    /* background-image: radial-gradient(circle, #eff8ff, #c9cbff, #eff8ff); */
}

.calc-grid {
    display: grid;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

/* minmax(min, max) */


.calc-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(180, 170, 240, 0.50);
}

.calc-grid > button:hover {
    background-color: rgba(241, 240, 245, 0.9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    /* goes from column 1 to column -1 (which is the last one) */
    background-color: rgba(43, 40, 40, 0.95);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.79);
    font-size: 1.7rem;
}

.output .current-operand {
    color: rgba(255, 255, 255, .95);
    font-size: 2.5rem;
}

/* title */
h1 {
    font-size: 3rem;
    font-weight: bold;
}

/* random color - button */
.rand-color-btn {
    cursor: pointer;
    /* font-size: 2rem; */
    border: 1px solid white;
    color: white;
    outline: none;
    background-color: rgba(43, 40, 40, 0.95);
}

/* random color */
.rand-color {
  background: white;
  padding: auto;
  text-align: center;
}
span {
  display: block;
  padding: 0.5rem;
  /* margin-bottom: 1rem; */
  font-size: 1rem;
  font-weight: normal;
  
}